[Unit]
Description=Flask web application
After=network.target

[Service]
User=root
WorkingDirectory=/home/devops-case-study
ExecStart=/home/venv/bin/gunicorn -b 0.0.0.0:5000 -w 3 wsgi
Restart=always

[Install]
WantedBy=multi-user.target